.sidebar {
    background-color: #3E3D3D;
    min-height: 100vh;
    padding: 20px;
}

@media screen and (max-width: 900px) {
    .sidebar {
        max-width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}